@import "base/fonts";
@import "abstract/variables";
@import "components/button";
@import "layout/nav-bar";
@import "components/workspace";
@import "components/switcher";
@import "components/tools";
@import "components/colors";
@import "components/canvas";


body {
    position: relative;
    width: 100%;    
    height: 100%;
    max-width: $max-width;
    min-width: $min-width;
    margin: 0 auto;
}